extends ./layout.pug
block contents  
        // Jumbotron
        .container 
            h3 My contact
            .jumbotron
                a(href=`mailto:luanlvt@gmail.com`)
                    button(class="email-btn" type="email") Email Me
                .jumbotron
                    a(href="#", class="fa fa-facebook")
                    a(href="#", class="fa fa-twitter")
                    a(href="https://www.linkedin.com/in/luan-le-1b1a40220/",class="fa fa-linkedin")
                    a(href="#", class="fa fa-skype")
        // Site footer
        .container 
            footer.footer
                p © Price Monitor - a NodeJS Project of Luan Le
