extends ./layout.pug
include ./components/tables
block contents  
    // Jumbotron
    .container
        h3 Edit item on the shop    
            a(href='/manageshop')
                span(style="font-size: small") Back to manage shop
        hr
        //.jumbotron
        form.form-signin(action='/editshopitem', method='POST')
                label(for='price') Selling Price:
                input#inputEmail.form-control(type='number', name='price', placeholder= item.price, value= item.price, required='', autofocus='')
                br
                label(for='price_list') Original Price: 
                input#inputEmail.form-control(type='number', name='price_list', placeholder= item.price_list, value= item.price_list)
                br
                label(for='title') Description: 
                input#inputEmail.form-control(type='text', name='title', placeholder= item.title, value= item.title)
                input#inputEmail.form-control(type='hidden', name='id', value= item._id)
                input#inputEmail.form-control(type='hidden', name='url', value= item.url)
                input#inputEmail.form-control(type='hidden', name='img_src', value= item.img_src)
                input#inputEmail.form-control(type='hidden', name='category', value= item.category)
                input#inputEmail.form-control(type='hidden', name='email', value= item.email)
                br
                label(for='visible', style='margin-right: 10px') Is on Sale:    
                if item.visible 
                    input#inputCheckBox(type='checkbox', name='visible', checked, value= 1)
                else
                    input#inputCheckBox(type='checkbox', name='visible', value= 0)
                br
                br
                button.btn.btn-lg.btn-primary.btn-block(type='submit') Save
    .container
        footer.footer
            p © Price Monitor - NodeJS Project last updated Nov. 2023