extends ./layout.pug
block contents  
    // Jumbotron
    .container 
        .jumbotron
            h3 Welcome to Price Monitor!
            p.lead
                |Price Monitor is a web tool that helps monitoring the price of targeted selling items from online stores (Amazon, BestBuy, or KiJiJi). Registered users can use the tool to make decision on buying items with best price and at right time. Moreover, users as resellers may also benefit by analyzing the price in different ways such as comparing prices of similar items from different vendors or understanding vendors historical pricing behaviour/strategy, so they can match with their purchasing plan.
            p
                a.btn.btn-lg.btn-success(href='/fetch', role='button') Get started
            // Site footer
        footer.footer
            p © Price Monitor - NodeJS Project last updated Nov. 2023