extends ./layout.pug
block contents  
    // Jumbotron
    .container 
        .jumbotron
            h3 Welcome to Price Monitor !
                .jumbotron
                    p()|Price Monitor is a web tool that helps monitoring the price of targeted selling items from some online stores such as Amazon, BestBuy, or KiJiJi. A logged-in users can use the tool to fetch and save new items then monitor the price so they can make the decision on buying them. Moreover, the app provides shop management and billing features that allow users become online resellers. Last but not least, the app integrates with Stripe and PayPal payment gateways that allow customers to buy and pay online. Now go ahead to 
                        a.btn-link(href='/register') register a new user
                        |  and have fun with the app.
                .jumbotron
                    a.btn.btn-lg.btn-success(href='/fetch', role='button') Get started
            // Site footer
        footer.footer
            p © Price Monitor - a NodeJS Project of Luan Le