extends ./_bootstrap
append styles
	// Custom styles for this template
	link(href='../css/justified-nav.css', rel='stylesheet')
	link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")

block body
	.container
		//  The justified navigation menu is meant for single line per list item.   Multiple lines will require custom code not provided by Bootstrap.
		.masthead
			h2.text-muted Price Monitor  
				if logged 
					span.showuser= email
				else
					span.showguest guest 
			nav
				ul.nav.nav-justified
					if menu == 0
						li.active
							a(href='/') Home
					else
						li
							a(href='/') Home
					if menu == 1
						li.active
							a(href='/fetch') Get Items
					else
						li
							a(href='/fetch') Get Items
					if menu == 2
						li.active
							a(href='/monitor') Manage Items
					else
						li
							a(href='/monitor') Manage Items
					if menu == 3
						li.active
							a(href='/manageshop') Manage Shop
					else
						li
							a(href='/manageshop') Manage Shop
					if menu == 4
						li.active 
							a(href='/contact') Contact
					else
						li
							a(href='/contact') Contact
					if menu == 5
						li.active
							if logged 
								form(action='/logout', method='POST') 
									button.btn-logout(type='submit') Logout
							else
								a(href='./login')  Login / Register 
					else
						li
							if logged 
								form(action='/logout', method='POST') 
									button.btn-logout(type='submit') Logout
							else
								a(href='./login')  Login / Register 
					
	block contents 