extends ./layout.pug
block contents  
    // Jumbotron
    .container 
        .jumbotron
            form.form-signin(action='/login', method='POST')
                h3.form-signin-heading Please sign in
                label.sr-only(for='email') Username: 
                input#inputEmail.form-control(type='text', name='email', placeholder='Your email', required='', autofocus='')
                label.sr-only(for='password') Password: 
                input#inputPassword.form-control(type='password', name='password', placeholder='Your password', required='')
                .checkbox
                    label
                        input(type='checkbox', value='remember-me')
                        |  Remember me
                button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign in
                br
                a(href="/register") or Register a New User
        //- a.btn.btn-lg.btn-success(href='/register', role='button', style='font-size: 21px') Register New User
        // Site footer
        footer.footer
            p © Price Monitor - NodeJS Project last updated Nov. 2023