extends ./layout.pug
include ./components/tables
block contents  
    // Jumbotron
    .container
        h3 Manage selling items on your shop
        //.jumbotron
        .table-responsive
            table.table-striped
                thead
                    tr
                        th #
                        th.thumnail-tbl Image
                        th Edit to sell
                        th Remove from shop
                        th Description
                        th Selling Price 
                        th Original Price
                        th Is on Sale
                tbody
                each item in listItems
                    tr
                        td= item.pos + 1
                        td.thumbnail-tbl
                                img.shop-img-td-tbl(src= item.img_src) 
                        td
                            a(href="/editshopitem/" + item._id) Edit
                        td
                            a(href="/deleteshopitem/" + item._id) Remove
                        td= item.title
                        td $#{item.price}
                        td $#{item.price_list}
                        if item.visible 
                            td YES 
                        else 
                            td NO
    .container
        footer.footer
            p © Price Monitor - a NodeJS Project of Luan Le