
extends ./layout.pug
block contents
	.container
		.jumbotron
			br
			p= message
			br
			br
			if msgID == 0
				a.btn.btn-lg.btn-success(href='/') Back
			if msgID == 1
				a.btn.btn-lg.btn-success(href='/fetch') Back
			if msgID == 2
				a.btn.btn-lg.btn-success(href='/monitor') Back
			if msgID == 3
				a.btn.btn-lg.btn-success(href='/manageshop') Back
			if msgID == 51
				a.btn.btn-lg.btn-success(href='/login') Back
			if msgID == 52
				a.btn.btn-lg.btn-success(href='/register') Back

		footer.footer
			p © Price Monitor - NodeJS Project last updated Nov. 2023