
extends ./layout.pug
block contents
	.container
		.jumbotron
			br
			p= message
			br
			a.btn.btn-link(onclick='window.history.back()') Go Back
		footer.footer
			p © Price Monitor - a NodeJS Project of Luan Le