
h4 Payment success 
p Thank you for purchasing at Price Monitor !

a(href='/shop') Back to Shop 
script(src="../js/stripe_return.js", defer)

br()
br()

span(id="customer-email") If you have any questions, please email 
    a(href="mailto:luanlvt@gmail.com") luanlvt@gmail.com
footer.footer
    p © Price Monitor - NodeJS Project last updated Nov. 2023