

.show-item{
    background-color: #FFF;
    margin: 1px red solid ;
    padding: 20px;
}

.mytable {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.mytable td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

.mytable tr:nth-child(even){background-color: #f2f2f2;}

.mytable tr:hover {background-color: #ddd;}

.mytable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
